/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main styles */

body {
	width: 99.7%;
}

/* Nav bar */
nav {
	margin: 0.5% 0 2% 0;
	width: 100%;
	border: 1px dashed rgb(126, 126, 4);
}

.left,
.centre,
.right {
	margin-left: 1.5%;
	float: left;
}

.left {
	width: 20%;
	border: 1px solid plum;
}

.left img {
	width: 43px;
	float: left;
	margin-left: 18%;
}

.left h1 {
	float: left;
	margin-top: 5%;
}

.centre {
	width: 50%;
	border: 1px solid lightsteelblue;
}

.search {
	padding-bottom: 1.7%;
}

.search-button {
	padding: 0% 1% 1.3% 1.5%;
	margin-top: 0.5%;
	background-color: rgb(160, 168, 175);
	border: none;
}

.search-button:hover {
	border: 1px solid rgb(130, 137, 143);
}
.right {
	width: 23%;
	padding-bottom: 2%;
	border: 1px solid lightgreen;
}

.search {
	width: 80%
}

/* Main page (player, recommendations, description box) */
main {
	border: 2px dashed rgb(172, 247, 35);
	float: left;
	width: 66.3%;
	margin: 0 1%;
}

.player {
	border: 1px solid deeppink;
}

	/* Containing floats (https://learn.shayhowe.com/html-css/positioning-content/) */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

	/* Recommendations */
aside {
	border: 1px solid rgb(189, 37, 108);
	width: 28.2%;
	float: right;
	margin: 0 1% 1% 1.5%;
	height: 550px;
}

		/* Recommendation container */
.recommendation {
	border: 1px solid khaki;
	height: 16.2%;
}

		/* Thumbnails (general and specific) */
.thumbnail {
	float: left;
	height: 80%;
	width: 27%;
	margin: 2% 1%;
	background-image: url("../images/youtube-logo-icon.png");
	background-size: 100% 100%;
}

.recommendation-text {
	float: left;
	margin: 2%;
	border: 1px solid deepskyblue;
}

.thumbnail-1 {
	border: 1px groove rgb(70, 43, 82);
}

.thumbnail-2 {
	border: 1px groove rgb(100, 55, 55);
}

.thumbnail-3 {
	border: 1px groove rgb(49, 60, 71);
}

.thumbnail-4 {
	border: 1px groove rgb(54, 85, 54);
}

.thumbnail-5 {
	border: 1px groove rgb(85, 49, 85);
}

.thumbnail-6 {
	border: 1px groove rgb(74, 88, 60);
}

	/* Description box */
.description-box {
	border: 1px solid gold;
}

		/* Container */
.description-box section {
	margin: 1% 1%;
}

		/* Video title */
.video-title {
	margin-bottom: 2%;
}

		/* Channel info */
.channel-info {
	display: inline-block;
}

		/* Channel picture */

.channel-picture {
	width: 40px;
	border-radius: 50%;
}

		/* Top row */
.top-row {
	padding-bottom: 15px;
}

		/* Top left */
.top-left {
	border: 1px groove indigo;
	width: 19%;
	padding-left: 0.5%;
}

		/* Subscribe button */
.channel-subscribe {
	float: right;
	padding: 1% 2%;
	border: 1px solid lightskyblue;
	background-color: rgb(221, 56, 56);
	color: white;
	text-decoration: double;
}

.channel-subscribe:hover {
	background-color: rgb(224, 85, 85);
}

		/* Description box text */
.description-text {
	margin-left: 7%;
}

		/* Show more button */
.show-more {
	background-color: transparent;
	border: none;
	margin-top: 2.5%;
}

.show-more:hover {
	background-color: slategray;
}

/* Footer */
footer {
	border: 1px solid rgb(53, 182, 182);
}