/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main styles */

nav {
	margin: 1% 1%;
	width: 90%;
	border: 1px dashed rgb(126, 126, 4);
}

.left {
	margin-left: 1.5%;
	width: 20%;
	border: 1px solid plum;

}

.centre {
	margin-left: 1.5%;
	padding-left: 5%;
	width: 50%;
	border: 1px solid lightsteelblue;
}

.right {
	margin-left: 1.5%;
	width: 15%;
	border: 1px solid lightgreen;
}

.search {
	width: 80%
}

main {
	border: 2px dashed rgb(172, 247, 35);
	float: left;
	width: 60%;
	margin: 0 1%;
}

main section {
	border: 1px solid dimgray;
	width: 85%;
}

aside {
	border: 1px solid rgb(189, 37, 108);
	width: 34.5%;
	float: right;
	margin: 0 1.5%;
}

.description-box {
	border: 1px solid gold;
}

footer {
	border: 1px solid rgb(53, 182, 182);
	clear: both;
}